.App {
  text-align: center;
}

.App-SearchResult {
  display: inline-block;
}

.App-ImageItem {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;
  margin: 8px;
  width: 250px;
  height: 250px;
  display: inline-block;
  cursor: pointer;
}

.App-Image {
  width: 250px;
  height: 250px;
}

.ModalImage {
  position: fixed;
  width: 1048px;
  height: 1074px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.ModalImage-Header {
  display: flex;
  justify-content: space-between;
}

.ModalImage-Meta {
  margin: 4px;
}

.ModalImage-Close {
  margin: 4px;
  width: 18px;
  height: 18px;
  background-image: url('close.png');
  cursor: pointer;
}

.ModalImage-Output {
  position: absolute;
  top: 38px;
  left: 12px;
}

.App-Empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.App-EmptyPick {
  color: rgba(131,58,180,1);
}